body {
  background-color: #efefef;
}

.main {
  width: 500px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
}

.header {
  padding: 15px;
  background-color: #47ad54;
  color: #fff;
}

.slider {
  width: 500px;
  overflow: hidden;
}

.slider ul {
  list-style: none;
  width: 1500px;
  position: relative;
  padding: 0;
  margin: 0;
  left: 0;
}

.slider ul li {
  float: left;
}